<div class="container mt-3">
  <div class="container" *ngIf="isShowNotification">
    <div class="row mb-2 justify-content-end">
      <div class="col-12">
        <div class="alert alert-success" role="alert">
          <!-- {{LatestNews}} -->
          <!-- Employee Name : <empname> city : <cityname> -->
          <strong>Success!</strong> 
          Employee Name : {{ LatestNews.FullName }}
          City Name : {{ LatestNews.City }}
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="alert"
            aria-label="Close"
          ></button>
        </div>
      </div>
    </div>
  </div>

  <h1 class="text-left mb-0">Services</h1>
  <div class="row m-0">
    <div class="col-4">
      <app-first-comp></app-first-comp>
    </div>
    <div class="col-4">
      <app-second-comp></app-second-comp>
    </div>
    <div class="col-4">
      <app-third-comp></app-third-comp>
    </div>
  </div>
</div>
