<div class="container mt-5">
    <div class="card">
      <div class="card-header bg-secondary text-white">Second Component</div>

    <div class="card-body">
      <div class="row">
        <div class="col-12">
          <!-- <div class="container">
            <div class="container"> -->
              <table class="table table-border">
                <thead>
                  <tr>
                    <th>EmployeeID</th>
                    <th>FullName</th>
                    <!-- <th>City</th>
                    <th>PostalCode</th>
                    <th>Country</th>
                  </tr> -->
                </thead>
                <tbody>
                  <tr *ngFor="let emp of EmployeesList">
                    <td>{{ emp.EmployeeID }}</td>
                    <td>{{ emp.FullName }}</td>
                    <td>
                      <button (click)="sendEmpDetails(emp)" class="btn btn-primary">
                         <i class="bi bi-bell"></i> 
                      </button>
                    </td>
                    <!-- <td>{{ emp.City }}</td>
                    <td>{{ emp.PostalCode }}</td>
                    <td>{{ emp.Country }}</td> -->
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    <!-- </div>
  </div> -->
  